<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyecto Playground</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato:ital,wght@0,400;1,700&family=Poppins:ital,wght@0,100;0,300;0,400;1,200;1,300;1,400&family=Roboto:wght@100;400;500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header class="header">
      <div class="top-header">
        <img
          src="/images/logo-mercado-liebre.svg"
          alt="logo mercado liebre"
          class="logo"
        />
        <div class="search-bar">
          <input type="search" />
          <button type="button" class="btn-buscar">buscar</button>
        </div>
        <div class="subtitulo-header">
          <p>
            <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y
            sin tarjeta de crédito
          </p>
        </div>
      </div>
      <nav class="navbar">
        <ul class="navbar-menu">
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="navbar-login">
          <%- include('partials/nav') %>
        </ul>
      </nav>
      <section class="img-banner"></section>
      <div class="burger-container">
        <div class="burger-menu">
          <i class="fas fa-bars burger"></i>
        </div>
      </div>
    </header>

    <!--<% if (locals.errors){ for(let oneError in errors){ %> -->
    <!-- <p><%= errors[oneError].msg %></p> -->
    <!-- <% } }  %> -->

    <!-- <% if(locals && locals.mensajeDeError){ %> -->
    <!--  <% for (let error in mensajeDeError){ %> -->
    <!-- <p><%= mensajeDeError[error].msg %></p> -->
    <!-- <% }%> <% } %> -->
    <!-- ambos bloques podes comprobar que el mensaje de error es enviado -->

    <form
      action="/user/register"
      method="POST"
      class="form"
      enctype="multipart/form-data"
    >
      <div class="datosUsuario">
        <div>
          <input type="text" name="nombreyapellido" placeholder="Nombre y
          Apellido" minlength="8" maxlength="20" class= "nombreyapellido <%=
          locals.errors && errors.nombreyapellido ? "cajadeinput" : null %> "
          value="<%= locals.oldData ? oldData.nombreyapellido : null %>"/> <% if
          (locals.errors && errors.nombreyapellido){ %>
          <div class="rojoErrores"><%= errors.nombreyapellido.msg %></div>
          <% } %>
        </div>
        <div>
          <input type="text" name="nombreUsuario" id="nombreUsuario"
          placeholder="Nombre de Usuario" minlength="4" maxlength="15" class=
          "nombreUsuario <%= locals.errors && errors.nombreUsuario ?
          "cajadeinput" : null %> " value="<%= locals.oldData ?
          oldData.nombreUsuario : null %>"/> <% if (locals.errors &&
          errors.nombreUsuario){ %>
          <div class="rojoErrores"><%= errors.nombreUsuario.msg %></div>
          <% } %>
        </div>
        <div>
          <input type="email" name="email" id="email" placeholder="Email" class=
          "email <%= locals.errors && errors.email ? "cajadeinput" : null %> "
          value="<%= locals.oldData ? oldData.email : null %>"/> <% if
          (locals.errors && errors.email){ %>
          <div class="rojoErrores"><%= errors.email.msg %></div>
          <% } %>
        </div>
      </div>
      <div class="container-perfilUsuario">
        <label for="perfilUsuario">Perfil Usuario</label>
        <label for="perfilUsuario" name="perfilUsuario">
          <input
            type="checkbox"
            name="radio"
            value="Comprador"
            id="radio-comprador"
            checked
          />Comprador
          <input
            type="checkbox"
            name="radio"
            value="Vendedor"
            id="radio-vendedor"
          />Vendedor
        </label>
      </div>
      <div class="container-perfilUsuario">
        <label for="imagenDelPerfil" class="imagenDelPerfil">
          Imagen de Perfil
        </label>
        <input
          type="file"
          id="imagenDelPrefil"
          name="imagenDelPerfil"
          accept=".jpg, .png"
        />
      </div>
      <div class="container-password">
        <div>
          <input type="password" name="password" id="password"
          placeholder="Contraseña" maxlength="8" title="constraseña
          alfanumerica" class= "password <%= locals.errors && errors.password ?
          "cajadeinput" : null %> value="<%= locals.oldData ? oldData.password :
          null %>" "/> <% if (locals.errors && errors.password){ %>
          <div class="rojoErrores"><%= errors.password.msg %></div>
          <% } %>
        </div>
        <div>
          <input type="password" name="passwordRepit" id="password-repi"
          placeholder="Repetir Contraseña" maxlength="8" title="contraseña
          alfanumerica" class= "passwordRepit <%= locals.errors &&
          errors.passwordRepit ? "cajadeinput" : null %> " value="<%=
          locals.oldData ? oldData.passwordRepit : null %>"/> <% if
          (locals.errors && errors.passwordRepit){ %>
          <div class="rojoErrores"><%= errors.passwordRepit.msg %></div>
          <% } %>
        </div>
      </div>
      <div class="container-btn">
        <button type="submit" class="btn-enviar">ENVIAR</button>
        <button type="reset" class="btn-borrar">BORRAR</button>
      </div>
    </form>
    <footer>
      <div class="container-footer">
        <div>
          <div class="container-img-footer">
            <i class="fa-solid fa-credit-card img-footer"></i>
          </div>
          <h4 class="titulo-h4">Pagá con tarjeta o en efectivo</h4>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </div>
        <div>
          <div class="container-img-footer">
            <i class="fa-solid fa-gift img-footer"></i>
          </div>
          <h4 class="titulo-h4">Envío gratis desde $ 2.500</h4>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </div>
        <div>
          <div class="container-img-footer">
            <i class="fa-solid fa-user-shield img-footer"></i>
          </div>

          <h4 class="titulo-h4">Seguridad, de principio a fin</h4>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </div>
      </div>
      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
  </body>
</html>
